# Node version definition
NODE_ENV=development
PORT=5173

# Simulation configuration
SIMULATION_MODE=true
TARGET_IP=192.168.1.10
WASM_ENGINE_TARGET=V8_TurboFan

# Note: Asla gerçek .env dosyasını repoya commitlemeyin!
